doctype html

html
	head
		title Celebrity
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
	body
		h1 Celebrity

		h3 Current Players:
			for user in users
				p= user

		-if(user == undefined)
			form(name="signup", action="/celebrity/users", method="post")
				input(type="text", name="user")
				input(type="submit", value="signup")
		-else
			h2 Welcome back, #{user}
			-var remainingWords = wordCount == undefined ? 0 : wordCount;
			h3 Words remaining: #{remainingWords}

			-if(remainingWords > 0)
				form(name="newword", action="/celebrity/words", method="post")
					input(type="text", name="word")
					input(type="hidden", name="user", value="#{user}")
					input(Type="submit", value="add word")

		-if(admin)
			form(name="start", action="/celebrity/admin/start", method="get")
				input(type="submit", value="SET UP GAME")
			form(name="start", action="/celebrity/play", method="get")
				input(type="submit", value="START GAME")
			form(name="reset", action="/celebrity/admin/reset", method="get")
				input(type="submit", value="RESET GAME")