doctype html

html
	head
		title Celebrity

		block scripts
			script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
	script.
		var getWord = function() {
			$.get('/celebrity/words', function(result) {
				$('#word').text(result.word);
			});
		}

	body

		h1 Team 1 Score: #{team1Score.score}
		h1 Team 2 Score: #{team2Score.score}
		h3 Round: #{round}
		h3 Words Remaining: #{wordsRemaining}
			
