doctype html

html
	head
		title Celebrity
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")

		block scripts
			script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
	script.
		var myInterval;

		setInterval(function() {
			$.get('/celebrity/info/game', function(game) {
				$('#team1Score').text("Team 1 Score: " + game.team1Score.score);
				$('#team2Score').text("Team 2 Score: " + game.team2Score.score);
				$('#round').text("Round: " + game.round);
				$('#wordsRemaining').text("Words Remaining: " + game.wordsRemaining);
			});
		}, 1000);

	body

		h1#team1Score Team 1 Score: #{team1Score.score}
		h1#team2Score Team 2 Score: #{team2Score.score}
		h3#round Round: #{round}
		h3#wordsRemaining Words Remaining: #{wordsRemaining}
			
